.gallery_img img {
    width: 250px;
    height: 255px;
}
iframe{
    width: 500px;
    height: px;
}
.gallery_box a {
    display: block;
    float: left;
    width: 258px;
    height: 255px;
}
#banner {
     width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background: url(../images/baneraccion.jpg) no-repeat center;
    background-size: 100% 100%;
}