.container {
    background-image: url(images/multicine4.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
   }
   
   form {
       width:450px;
       margin: auto;
       background: rgba(0,0,0,0.4);
       padding: 10px 20px;
       box-sizing: border-box;
       margin-top: 20px;
       border-radius: 7px;
   }
   p{
       color: #fff;
   }
   h2{
       color: #c231d5ff;
       text-align: center;
       margin: 0;
       font-size: 30px;
       margin-bottom: 20px;
   }
   input, textarea{
       width: 100%;
       margin-bottom: 20px;
       padding: 7px;
       box-sizing: border-box;
       font-size: 17px;
   }
   textarea{
       min-height: 100px;
       max-height: 200px;
       max-width: 100px;  
   }
   textarea{
       min-height: 100px;
       max-height: 200px;
       max-width: 100%;
   }
   #boton{
       background: #c231d5;
       color:#fff
       padding: 20px;
   }
   #boton{
       cursor: pointer;
   }
   